{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends":  [
    "standard",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "env": {
    "jest": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true, "semi":false, "trailingComma": "es5"}],
    "react/jsx-uses-vars": [2],
    "no-unused-vars": ["error", { "varsIgnorePattern": "React" }]
  },
  "plugins": ["react", "prettier"],
  "parser": "babel-eslint"
}