@import url('https://fonts.googleapis.com/css?family=Kalam');

.devicon-logo {
  line-height: 4rem;
  a {
    font-family: 'Kalam', cursive;
    font-size: 3rem;
    text-decoration: none !important;
  }
}

code, kbd, pre, samp {
  font-size: 0.9em;
}