.devicon-logo {
  line-height: 3rem;
  a {
    font-family: "Metric", Arial, sans-serif;
    font-size: 3.1rem;
    text-decoration: none !important;
  }
}

code, kbd, pre, samp {
  font-size: 0.9em;
}

.grommet a:not(.grommetux-anchor):not(.grommetux-button) {
  text-decoration: none;
}